<div>
    <tui-input-number class="tag-score-input" [(ngModel)]="value">
        Only integers
    </tui-input-number>
    <div>
        <tui-input-number class="tag-score-input" [(ngModel)]="value">
            Only integers
        </tui-input-number>
        <tui-input-number class="tag-score-input" [(ngModel)]="value">
            Only integers
        </tui-input-number>
        <tui-input-number class="tag-score-input" [(ngModel)]="value">
            Only integers
        </tui-input-number>

    </div>
</div>