<div>
  <tui-input> Название </tui-input>
  <table
    tuiTable
    [columns]="columns"
    [direction]="(direction$ | async) || 1"
    [tuiSortBy]="sorter$ | async"
    (directionChange)="direction$.next($event)"
    (tuiSortByChange)="sorter$.next($event!.toString())"
  >
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'place'" tuiTh [sorter]="null"></th>
        <th *tuiHead="'name'" tuiSortable tuiTh>Название</th>
        <th *tuiHead="'minuteUpdate'" tuiSortable tuiTh>Частота обновления</th>
        <th *tuiHead="'creater'" tuiSortable tuiTh>Создатель</th>
        <th *tuiHead="'actions'" tuiTh [sorter]="null"></th>
      </tr>
    </thead>
    <tbody
      *tuiLet="ratings | tuiTableSort as sortedRatings"
      tuiTbody
      [data]="sortedRatings"
    >
      <tr *ngFor="let item of sortedRatings; let index = index" tuiTr>
        <td *tuiCell="'place'" tuiTd>
          {{ page$.getValue() * size$.getValue() + index + 1 }}
        </td>
        <td *tuiCell="'name'" tuiTd>
          {{ item.name }}
        </td>
        <td *tuiCell="'minuteUpdate'" tuiTd>
          {{ item.minuteUpdate }}
        </td>
        <td *tuiCell="'creater'" tuiTd>
            {{ item.creater.name }} {{ item.creater.surname }}
        </td>
        <td *tuiCell="'actions'" tuiTd>
          <button
            tuiIconButton
            appearance="flat"
            tuiMode="onLight"
            icon="tuiIconMoreHorizontalLarge"
            shape="rounded"
            size="s"
            title="more"
            class="more-icon"
          ></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
