
.column() {
  display: flex;
  flex-direction: column;
}

#auth-container {
  .column();
  align-items: center;
  margin-top: 10rem;
}

#auth-container-form-card-sme-password-row-span {
  .column();
  margin: 5px 0 0 5px;
  color: var(--tui-text-02);
}

#auth-container-form-card-sme-password-row-field-checkbox-span {
  color: var(--tui-text-02);
}

#auth-container-form-card-sme-submit-row {
  .column();
  align-items: flex-end;
  margin-top: -1rem;
}

#auth-container-form-card-sme-submit-row-form__buttons-button {
  width: 150px
}
