<div id="auth-container" class="tui-container">
  <form id="auth-container-form" [formGroup]="form" class="tui-col_6" (submit)="onLogin()">
    <div id="auth-container-form-card" tuiCardLarge="compact" tuiSurface="elevated">
      <div id="auth-container-form-card-sme" class="tui-row_align_center tui-row_sme">
        <header id="auth-container-form-card-sme-header" class="tui-form__header tui-form__header_margin-top_none">
          Auth
        </header>
        <div id="auth-container-form-card-sme-login-row" class="tui-form__row">
          <tui-input id="auth-container-form-card-sme-login-row-tui-input" formControlName="login">
            Login/Email
            <input id="auth-container-form-card-sme-login-row-tui-input-input" placeholder="placeholder" tuiTextfield/>
            <span id="auth-container-form-card-sme-login-row-tui-input-span" class="tui-required"></span>
          </tui-input>
          <tui-error
            id="auth-container-form-card-sme-login-row-tui-error"
            formControlName="login"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div id="auth-container-form-card-sme-password-row" class="tui-form__row">
          <tui-input-password id="auth-container-form-card-sme-password-row-tui-input-password" formControlName="password">
            Input password
            <span id="auth-container-form-card-sme-password-row-tui-input-password-span" class="tui-required"></span>
          </tui-input-password>
          <span id="auth-container-form-card-sme-password-row-span" class="tui-text_body-s" routerLink="/auth/forgot-password">
            reset password
          </span>
          <tui-error
            id="auth-container-form-card-sme-password-row-tui-error"
            formControlName="password"
            [error]="[] | tuiFieldError | async">
          </tui-error>
        </div>
        <div id="auth-container-form-card-sme-remind-row" class="tui-form__row">
          <div id="auth-container-form-card-sme-password-row-field-checkbox" class="tui-form__field-checkbox">
            <tui-checkbox-labeled
              id="auth-container-form-card-sme-password-row-field-checkbox-tui-checkbox-labeled"
              formControlName="remind"
              size="l"
              >
              <span id="auth-container-form-card-sme-password-row-field-checkbox-span">Remind Me</span>
            </tui-checkbox-labeled>
          </div>
        </div>
      </div>
      <div id="auth-container-form-card-sme-submit-row" class="tui-form__row">
        <div id="auth-container-form-card-sme-submit-row-form__buttons" class="tui-form__buttons">
          <button
            id="auth-container-form-card-sme-submit-row-form__buttons-button"
            size="m"
            tuiButton
            type="submit"
            class="tui-form__button"
          >
            Log in
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
