
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.avatar {
  font-family: Manrope, sans-serif;
  letter-spacing: 0.3px;
  text-align: left;
  &__text {
    font-size: 12px;
  }
}
