<div id="notice-page">
  <div id="notice-page-container-header">
    <span
      id="notice-page-container-header-span"
      tuiTitle="m"
    >
      Уведомления
    </span>
    <button
      id="notice-page-container-filter"
      appearance="filter"
      iconLeft="tuiIconFilterLarge"
      size="m"
      tuiIconButton
    ></button>
  </div>
  <div id="notice-page-container-content">
    <div id="notice-page-container-content-content">
      <tui-scrollbar id="notice-page-container-content-content-scrollbar">
        <div id="notice-page-container-content-content-scrollbar-box">
          <div
            id="notice-page-container-content-content-container"
            *ngFor="let _ of [].constructor(20); let i = index let last = last"
          >
            <button
              id="notice-page-container-content-content-cell"
              tuiSurface="elevated"
              tuiCell
            >
              <tui-avatar
                src="tuiIconInfoLarge"
                [style.background]="'var(--tui-accent)'"
                [style.color]="'var(--tui-text-01-night)'"
              ></tui-avatar>
              <div tuiTitle>
                It Can be a button
                <div tuiSubtitle>In stock</div>
              </div>
              <div tuiTitle>
                <div tuiSubtitle>
                  <button
                    appearance="icon"
                    iconLeft="tuiIconTrash2Large"
                    size="s"
                    tuiIconButton
                    (click)="onDelete()"
                    [style.color]="'var(--tui-base-07)'"
                  >Delete</button>
                </div>
                09-05-2024
              </div>
            </button>
          </div>
          <button
            id="notice-page-container-content-content-container-last-button"
            appearance="dropdown-buttons"
            tuiButton
          >Load more</button>
        </div>
      </tui-scrollbar>
    </div>
  </div>
</div>
