<div id="notice-page">
  <div id="notice-page-container-header">
    <span id="notice-page-container-header-span" tuiTitle="m">Уведомления</span>
  </div>
  <div id="notice-page-container-content">
    <div id="notice-page-container-content-header">
      <p>pon</p>
    </div>
    <div id="notice-page-container-content-content">
      <tui-scrollbar style="width: 100%; height: 28rem">
        <div style="display: flex; flex-direction: column; padding: 0 1rem; gap: 15px">
          <div
            id="notice-page-container-content-content-cell"
            *ngFor="let _ of [].constructor(20); let i = index"
          >
            <label id="notice-page-container-content-content-cell-label">
              <tui-avatar
                src="tuiIconInfoLarge"
                size="s"
                [style.background]="'var(--tui-accent)'"
                [style.color]="'var(--tui-text-01-night)'"
              ></tui-avatar>
              <div tuiTitle="s">
                <strong>Уведомление</strong>
                <div tuiSubtitle>Available</div>
              </div>
            </label>
          </div>
        </div>
      </tui-scrollbar>
    </div>
    <div id="notice-page-container-content-footer">
      <p>pon</p>
    </div>
  </div>
</div>
