
[tuiAppearance][data-appearance='filter'] {
  color: var(--tui-base-08);
  background: var(--tui-base-03);
}

[tuiAppearance][data-appearance='filter']:hover {
  color: var(--tui-base-08);
  background: var(--tui-base-04);
}

[tuiAppearance][data-appearance='filter']:active {
  color: var(--tui-base-09);
  background: var(--tui-base-05);
}

[tuiAppearance][data-appearance='filter']:disabled {
  color: var(--tui-base-06);
  background: var(--tui-base-02);
}

[tuiAppearance][data-appearance='dropdown-buttons'] {
  width: 100%;
  background: var(--tui-clear);
}

[tuiAppearance][data-appearance='dropdown-buttons']:hover {
  color: var(--tui-base-09);
  background: var(--tui-clear-hover);
}

[tuiAppearance][data-appearance='dropdown-buttons']:active {
  color: var(--tui-base-09);
  background: var(--tui-clear-active);
  opacity: 0.8;
}

#notice-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgb(253, 253, 253);
  border: 1.85px solid var(--tui-base-03);
  border-radius: 24px;
  box-shadow: var(--tui-shadow-hover);
}

#notice-page-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #D7D7D7;
  padding: 0 24px;
}

#notice-page-container-header-span {
  color: var(--tui-text-01);
  letter-spacing: 0.3px;
  white-space: nowrap;
  user-select: none;
  padding: 16px 24px 12px 0;
}

#notice-page-container-filter {
  margin-left: auto;
}

#notice-page-container-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#notice-page-container-content-header {
  order: 1;
  height: 8.5%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #D7D7D7;
}

#notice-page-container-content-content {
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 8px 16px 16px;
}

#notice-page-container-content-content-scrollbar {
  width: 100%;
  height: 42rem;
}

#notice-page-container-content-content-scrollbar-box {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 15px;
}

#notice-page-container-content-footer {
  order: 3;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #D7D7D7;
}

#notice-page-container-content-content-container {
  background: var(--tui-base-03);
  border-bottom: 1.25px solid var(--tui-base-03);
}

#notice-page-container-content-content-cell {
  width: 98%;
  box-shadow: none;
}

//[ngStyle]="{'border-bottom': last ? 'none' : '1.25px solid var(--tui-base-03)'}"
