<div id="notice-page">
  <div id="container">
    <div id="container-content">
      <div id="container-content-title">
        <h2 id="container-label" tuiTitle="m">
          Уведомления
        </h2>
      </div>
      <div id="container-content-div">
        <div id="container-content-div-header">
          <span>dsgfsgsg</span>
        </div>
        <div id="container-content-div-content">
          <div id="container-content-div-content-notice">

          </div>
        </div>
        <div id="container-content-div-footer">
          <span>fddsfsdf</span>
        </div>
      </div>
    </div>
  </div>
</div>
