.create-tag {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.tag-info {
  display: flex;
  width: 75%;
  align-content: space-around;
  justify-content: space-between;
}
tui-dropdown {
  z-index: 9999;
}
.tui-data-list-wrapper {
  z-index: 9999; /* Или любое другое высокое значение, чтобы гарантировать, что он будет находиться поверх других элементов */
}
