<div id="main-container">
  <button
    id="overview-card-project"
    tuiCardLarge
    tuiHeader
    tuiSurface="elevated"
  >
    <div
      id="overview-card-project-title-row"
    >
      <h1
        id="overview-card-project-title"
        tuiTitle="s"
      >
        Aseprite
        <tui-items-with-more
          id="overview-card-project-title-tui-items-with-more"
          [required]="2"
        >
          <ng-container
            id="overview-card-project-title-container"
            *tuiRepeatTimes="let i of 3"
          >
            <tui-tag
              id="overview-card-project-title-tag"
              *tuiItem
              value="tag"
              class="tui-space_right-1"
              size="s"
              [hoverable]="true"
            ></tui-tag>
          </ng-container>
        </tui-items-with-more>
      </h1>
      <tui-avatar
        id="overview-card-project-avatar"
        size="l"
        style="background-image: url('https://avatars.githubusercontent.com/u/3853896?s=48&v=4')"
        tuiAvatarOutline="var(--tui-neutral-bg)"
      ></tui-avatar>
    </div>
    <p id="overview-card-project-desc">
      Aseprite is a proprietary, source-available image editor designe
    </p>
    <tui-items-with-more
      id="overview-card-project-row-tags-item-with-more"
      class="tui-space_top-1"
      [required]="3"
    >
      <ng-container
        id="overview-card-project-row-tags-container"
        *ngFor="let tag of testTags"
      >
        <tui-tag
          id="overview-card-project-row-tags-tag"
          *tuiItem
          size="m"
          [value]="tag"
          [hoverable]="true"
          class="tui-space_right-1 "
          style="box-shadow: var(--tui-shadow-navigation)"
        ></tui-tag>
      </ng-container>
      <ng-template
        id="overview-card-project-row-tags-template"
        let-tag
        tuiMore
      >
        <span
          [tuiDropdown]="hintContent"
          [tuiDropdownMaxHeight]="125"
          [tuiDropdownHideDelay]="40"
          tuiDropdownAlign="right"
          tuiDropdownDirection="bottom"
          tuiDropdownHover
        >
          and {{ getRemaining(tag) }} more
        </span>
      </ng-template>
      <ng-template
        #hintContent
      >
        <tui-data-list
          *ngFor="let tag of testTags"
        >
          <button
            tuiOption
          >
            {{ tag }}
          </button>
        </tui-data-list>
      </ng-template>
    </tui-items-with-more>
    <footer
      id="overview-card-project-footer-row"
      class="tui-space_top-3"
    >
      <tui-svg
        id="overview-card-project-footer-row-tui-svg-link"
        src="tuiIconLink2Large"
        [routerLink]="'/'"
      ></tui-svg>
      <tui-svg
        id="overview-card-project-footer-row-tui-svg-git"
        class="tui-space_left-3"
        src="tuiIconGithubLarge"
        [routerLink]="'/'"
      ></tui-svg>
      <tui-avatar-stack
        id="overview-card-project-footer-row-tui-avatar-stack"
        direction="right"
      >
        <tui-avatar
          id="overview-card-project-footer-row-tui-avatar"
          *ngFor="let name of names"
          size="s"
          [round]="true"
          [src]="name | tuiInitials"
          [style.background]="name | tuiAutoColor"
        ></tui-avatar>
      </tui-avatar-stack>
    </footer>
  </button>
</div>
