<div style="display: flex">
  <tui-island *ngFor="let item of tagsValue">
    <tui-tree
      [childrenHandler]="handler"
      [content]="content"
      [tuiTreeController]="true"
      [value]="item"
    ></tui-tree>
  </tui-island>

  <ng-template #content let-item>
    <label class="tag-label"> {{ item.name }}</label>
    <tui-input-number
      class="tag-score-input"
      [ngModel]="item.score"
      tuiTextfieldSize="s"
      (ngModelChange)="onChange(item.id, $event)"
    ></tui-input-number>
  </ng-template>
</div>
