div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.sidebar-button {
  :active {
    animation: button-tap 0.3s ease;
  }
}

.sidebar-button-hover {
  transform: scale(1.05);
  animation: button-grow-up 0.3s ease-in-out;
}


@keyframes button-grow-up {
  0% {
    transform: scale(1.05);
}

  50% {
    transform: scale(1.1);
}

  100% {
    transform: scale(1.05);
  }
}

@keyframes button-tap {
  0% {
    transform: scale(1.05);
}

  50% {
    transform: scale(1.1);
}

  100% {
    transform: scale(1.05);
  }
}
