@import "@taiga-ui/core/styles/taiga-ui-local.less";
table {
  overflow-x: auto;
  width: 100%;
  display: block;
}
tbody tr td:last-child,
tbody tr td:nth-child(1) {
  width: 5rem;
  text-align: center;
}

tbody tr td:last-child {
  width: 5rem;
  display: flex;
}
td {
  width: 10rem;
}
td,
th {
  border-color: #d7d7d7;
}
thead tr th:first-child {
  border-top-left-radius: 24px;
}

thead tr th:last-child {
  border-top-right-radius: 24px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 24px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 24px;
}
tbody {
  border-color: #d7d7d7;
}
.scroll {
  .scrollbar-hidden();
  height: 200px;

  --tui-duration: 0;
}
.search-cont {
  width: 100%;
  display: flex;
  .search-form {
    width: 20%;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    .create-role-cont{
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.25rem;
    }
  }
}
.table-placer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
