<div (tuiActiveZoneChange)="closeSideBar($event)">
  <button
    tuiButton
    type="button"
    style="position: relative; left: 500px"
    (click)="openSideBar()"
>show</button>


  <div
    [style.display]="'flex'"
  >
    <aside
      *tuiSidebar="statusSideBar; direction: 'left'; autoWidth: false"
      class="active-zone, sidebar-content"
    >
      <div class="sidebar-menu">
        <div style="display: flex; flex-direction: row">
          <button
            style="justify-content: start"
            tuiButton
            size="xl"
            appearance="sidebar-menu-button"
            [style.margin-bottom.rem]="2.5"
          >
            <tui-icon
              icon="tuiIconHome"
              class="sidebar-button-icon"
            ></tui-icon>
            Главная
          </button>
          <button
            style="justify-content: end"
            appearance="glass"
            tuiIconButton
            size="s"
            [style.display]="'flex'"
            [style.flex-direction]="'row'"
            [style.justify-content]="'end'"
            >
            <tui-icon icon="tuiIconCloseLarge"></tui-icon>
          </button>
        </div>
        <button
          tuiButton
          size="xl"
          appearance="sidebar-menu-button"
        >
          <tui-icon
            icon="tuiIconBarChartLarge"
            class="sidebar-button-icon"
          ></tui-icon>
          Рейтинг
        </button>
        <button
          tuiButton
          size="xl"
          appearance="sidebar-menu-button"
        >
          <tui-icon
            icon="tuiIconBookLarge"
            class="sidebar-button-icon"
          ></tui-icon>
          Проекты
        </button>
        <button
          tuiButton
          size="xl"
          appearance="sidebar-menu-button"
        >
          <tui-icon
            icon="tuiIconCalendarLarge"
            class="sidebar-button-icon"
          ></tui-icon>
          Мероприятия
        </button>
        <button
          tuiButton
          size="xl"
          appearance="sidebar-menu-button"
        >
          <tui-icon
            icon="tuiIconBriefcaseLarge"
            class="sidebar-button-icon"
          ></tui-icon>
          Компании
        </button>
      </div>
      <div>
        <button
          tuiButton
          size="xl"
          appearance="sidebar-menu-button"
        >
          <tui-icon
            icon="tuiIconBriefcaseLarge"
            class="sidebar-button-icon"
          ></tui-icon>
          Компании
        </button>
      </div>
    </aside>

  </div>
</div>
