<div id="confirm-container" class="tui-container">
  <form id="confirm-container-form" [formGroup]="form" class="tui-col_6" (submit)="onConfirm()">
    <div id="confirm-container-form-card" tuiCardLarge="compact" tuiSurface="elevated">
      <div id="confirm-container-form-card-sme" class="tui-row_align_center tui-row_sme">
        <header id="confirm-container-form-card-sme-header" class="tui-form__header tui-form__header_margin-top_none">
          Confirm
          <tui-tooltip
            id="confirm-container-form-card-sme-header-tui-tooltip"
            content="Введите данные для авторизации на вебсайте"
            direction="bottom"
          ></tui-tooltip>
        </header>
        <div id="confirm-container-form-card-sme-password-row" class="tui-form__row">
          <tui-input-password
            id="confirm-container-form-card-sme-password-row-tui-input-password"
            formControlName="password"
          >
            Input password
            <span id="confirm-container-form-card-sme-password-row-tui-input-password-span" class="tui-required"></span>
          </tui-input-password>
          <tui-error
            id="confirm-container-form-card-sme-password-row-tui-error"
            formControlName="password"
            [error]="[] | tuiFieldError | async">
          </tui-error>
        </div>
        <div id="confirm-container-form-card-sme-retry-password-row" class="tui-form__row">
          <tui-input-password
            id="confirm-container-form-card-sme-retry-password-row-tui-input-password"
            formControlName="password"
          >
            Retry password
            <span
              id="confirm-container-form-card-sme-retry-password-row-tui-input-password-span"
              class="tui-required"
            ></span>
          </tui-input-password>
          <tui-error
            id="confirm-container-form-card-sme-retry-password-row-tui-error"
            formControlName="password"
            [error]="[] | tuiFieldError | async">
          </tui-error>
        </div>
      </div>
      <div id="confirm-container-form-card-sme-submit-row" class="tui-form__row">
        <div id="confirm-container-form-card-sme-submit-row-form__buttons" class="tui-form__buttons">
          <button
            id="confirm-container-form-card-sme-submit-row-form__buttons-button"
            size="m"
            tuiButton
            type="submit"
            class="tui-form__button"
          >
            Change
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
