<div id="page">
  <nav id="page-nav">
    <div
      *ngFor="let section of sections"
      (mouseover)="section.select = true"
      (mouseout)="section.select = false"
      class="nav-cell"
      [routerLink]="section.routing"
    >
      <h2 id="section-label">{{ section.name }}</h2>
      <div
        class="select-bar"
        *ngIf="section.select"
      ></div>
    </div>
  </nav>
  <div id="content">
    <div id="page-navigation">
      <div id="page-navigation-container">
        <div id="page-navigation-container-header">
          <h2 id="page-navigation-container-header-h2" tuiTitle="m">
            Личный кабинет
          </h2>
        </div>
        <div
          id="page-navigation-container-content"
        >
          <button
            id="page-navigation-container-content-profile"
            appearance="navigation-buttons"
            iconLeft="tuiIconUserLarge"
            tuiButton
            size="m"
            (click)="onProfile()"
            [style.color]="this.router.url === '/user/profile' ? 'var(--tui-primary)' : 'var(--tui-base-08)'"
            [ngClass]="{
              'selected': this.router.url === '/user/profile'
            }"
          >
            Профиль
          </button>
          <button
            id="page-navigation-container-content-favorite"
            appearance="navigation-buttons"
            iconLeft="tuiIconBookmarkLarge"
            tuiButton
            size="m"
            [tuiDropdown]="dropdownFavoriteContent"
            [tuiDropdownManual]="expandDropdown"
            (click)="onFavorite()"
            (tuiActiveZoneChange)="onActiveZone($event)"
            (tuiObscured)="onObscured($event)"
            [style.color]="this.expandDropdown ? 'var(--tui-primary)' : 'var(--tui-base-08)'"
            [ngClass]="{
              'selected': this.expandDropdown
            }"
          >
            Избранное
          </button>
          <button
            id="page-navigation-container-content-projects"
            appearance="navigation-buttons"
            iconLeft="tuiIconBookLarge"
            tuiButton
            size="m"
            (click)="onProject()"
            [style.color]="this.router.url === '/user/projects' ? 'var(--tui-primary)' : 'var(--tui-base-08)'"
            [ngClass]="{
              'selected': this.router.url === '/user/projects'
            }"
          >
            Мои Проекты
          </button>
          <button
            id="page-navigation-container-content-events"
            appearance="navigation-buttons"
            iconLeft="tuiIconCalendarLarge"
            tuiButton
            size="m"
            (click)="onEvent()"
            [style.color]="this.router.url === '/user/events' ? 'var(--tui-primary)' : 'var(--tui-base-08)'"
            [ngClass]="{
              'selected': this.router.url === '/user/events'
            }"
          >
            Мои События
          </button>
          <button
            id="page-navigation-container-content-notice"
            appearance="navigation-buttons"
            iconLeft="tuiIconBellLarge"
            tuiButton
            size="m"
            (click)="onNotice()"
            [style.color]="this.router.url === '/user/notifications' ? 'var(--tui-primary)' : 'var(--tui-base-08)'"
            [ngClass]="{
              'selected': this.router.url === 'user/notifications'
            }"
          >
            Уведомления
          </button>
        </div>
        <div id="page-navigation-container-footer">
          <button
            id="page-navigation-container-footer-button"
            appearance="navigation-buttons"
            iconLeft="tuiIconLogOutLarge"
            tuiButton
            size="m"
            (click)="onLogout()"
          >
            Выйти
          </button>
        </div>
      </div>
    </div>
    <div id="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template
  #dropdownFavoriteContent
>
  <div id="template-container">
    <button
      id="template-container-button-project"
      size="m"
      appearance="dropdown-buttons"
      iconLeft="tuiIconBookLarge"
      tuiButton
    >
      Проекты
    </button>
    <button
      id="template-container-button-events"
      size="m"
      appearance="dropdown-buttons"
      iconLeft="tuiIconCalendar"
      tuiButton
    >
      События
    </button>
    <button
      id="template-container-button-users"
      size="m"
      appearance="dropdown-buttons"
      iconLeft="tuiIconUsersLarge"
      tuiButton
    >
      Пользователи
    </button>
    <button
      id="template-container-button-company"
      size="m"
      appearance="dropdown-buttons"
      iconLeft="tuiIconBriefcaseLarge"
      tuiButton
    >
      Компании
    </button>
  </div>
</ng-template>
