<div id="change-password">
  <div style="padding: 24px">
    <header
      id="change-password-form-header"
      class="tui-form__header tui-form__header_margin-top_none"
    >
      Смена пароль
      <tui-tooltip
        id="change-password-form-tooltip"
        style="margin-left: auto"
        content="Введите старый пароль"
        direction="bottom"
      ></tui-tooltip>
    </header>
    <form id="change-password-form" [formGroup]="form">
      <div id="change-password-form-password-row" class="tui-form__row">
        <tui-input-password
          id="change-password-form-password-row-input-password"
          formControlName="password"
          [style.width.px]="225"
        >
          Старый пароль
          <span id="change-password-form-row-input-password-span" class="tui-required"></span>
        </tui-input-password>
        <tui-error
          id="change-password-form-row-input-password-error"
          formControlName="password"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>
      <div id="change-password-form-submit" class="tui-form__row">

          <button
            id="change-password-form-submit-row-form__buttons-button"
            size="m"
            tuiButton
            type="submit"
            class="tui-form__button"
          >
            Изменить
          </button>
      </div>
    </form>
  </div>
</div>
