<tui-root>
    <form [formGroup]="rating" class="button-container">
        <div class="row">
            <tui-input class="rating-credentials-input" formControlName="name">Название</tui-input >
            <tui-input-number class="rating-credentials-input" formControlName="hours">
                часы</tui-input-number >
        </div>
        <div class="row">
            <button size="m" tuiButton>Создать тэг</button>
            <button size="m" (click)="onSave()" tuiButton>Сохранить</button>
        </div>
    </form>
    <div *ngIf="tagsValue.length > 0" class="tree-center-display">
        <div class="tree-container">

            <tags-tree (onScoreChange)="onScoreChange($event)" [tagsValue]="tagsValue"></tags-tree>

        </div>
    </div>
</tui-root>