<tui-root>
  <div>
    <div>
      <form class="form" [formGroup]="form">
        <label tuiLabel="With custom options">
          <tui-input-count
            formControlName="hour"
            [tuiTextfieldLabelOutside]="true"
          ></tui-input-count>
        </label>
        <label tuiLabel="With custom options">
          <tui-input-count
            formControlName="hour"
            [tuiTextfieldLabelOutside]="true"
          ></tui-input-count>
        </label>
        <label tuiLabel="With custom options">
          <tui-input-count
            formControlName="hour"
            [tuiTextfieldLabelOutside]="true"
          ></tui-input-count>
        </label>
      </form>
    </div>
    <div></div>
  </div>
</tui-root>
