<div (tuiActiveZoneChange)="closeSideBar($event)">
  <nav>
    <div id="nav-navigation-stack">
      <button
        tuiButton
        type="button"
        size="l"
        [style.align-items]="'top'"
        appearance="sidebar-navigation-button"
        (mouseenter)="showNavBar()"
        (mouseleave)="closeNavBar()"
        (click)="openSideBar()"
      >
        <tui-icon class="sidebar-button-icon" icon="tuiIconMenuLarge"></tui-icon>
        Навигация
      </button>
      <div id="nav-navigation-button" [ngStyle]="{ 'background': barNav ? 'var(--tui-primary-hover)' : 'transparent'}" class="hover-bar"></div>
    </div>
    <div id="nav-avatar-stack" *ngIf="checkRouterUrl()">
      <tui-avatar
        class="profile-avatar"
        [style.width.px]="64"
        [style.height.px]="64"
        (mouseenter)="showProfileBar()"
        (mouseleave)="closeProfileBar()"
        src="tuiIconUserLarge"
        routerLink="/profile"
      ></tui-avatar>
      <div [ngStyle]="{ 'background': barProfile ? 'var(--tui-primary-hover)' : 'transparent'}" class="hover-bar"></div>
    </div>
  </nav>

  <div [style.display]="'flex'">
    <aside
      [style.width.rem]="20"
      *tuiSidebar="statusSideBar; direction: 'left'; autoWidth: true"
      class="active-zone"
    >
      <section>
        <div class="close-icon">
          <button
            appearance="secondary"
            tuiMode="onLight"
            tuiIconButton
            size="s"
            class="close-button"
            (click)="closeSideBar()"
            >
            <tui-icon icon="tuiIconCloseLarge"></tui-icon>
          </button>
        </div>
      </section>
      <section>
        <div class="sidebar-menu">
          <button
            *ngFor="let button of buttonList"
            tuiButton
            size="xl"
            shape="rounded"
            appearance="floating"
            tuiMode="onLight"
            class="offset-button sidebar-button"
            [class.sidebar-button-hover]="button.onHover"
            (mouseenter)="button.onHover = true"
            (mouseleave)="button.onHover = false"
            (click)="statusSideBar = false"
            [routerLink]="button.routing">
            <tui-icon
              [icon]="button.icon"
              class="sidebar-button-icon"
            ></tui-icon>
         {{ button.title }}</button>
        </div>
      </section>
    </aside>
  </div>
</div>

<!--<section>-->
<!--  <aside class="sidebar animate-width" [style.width.px]="statusSideBar ? 192 : 96">-->
<!--    <button-->
<!--      class="sidebar-close-button animate-left"-->
<!--      [style.left.px]="statusSideBar ? 182 : 86"-->
<!--      tuiIconButton-->
<!--      tuiButtonClose-->
<!--      appearance="glass"-->
<!--      [icon]="statusSideBar ? 'tuiIconArrowLeftLarge' : 'tuiIconArrowRightLarge'"-->
<!--      size="s"-->
<!--      (click)="sidebarToggle()"-->
<!--    ></button>-->
<!--    <block-header class="header-block animate-width" [statusSideBar]="statusSideBar"></block-header>-->
<!--    <block-content [blocks]="buttonList" [statusSideBar]="statusSideBar"></block-content>-->
<!--    <block-profile class="profile-block" [statusSideBar]="statusSideBar"></block-profile>-->
<!--  </aside>-->
<!--</section>-->

<router-outlet></router-outlet>

<div class="notice-button-layout" (tuiActiveZoneChange)="closeNotice($event)">
  <app-notice [statusNotice]="statusNotice" [noticeList]="noticeList"></app-notice>
  <div class="notice-button-container">
    <tui-marker-icon
      size="m"
      src="tuiIconBellLarge"
      (mouseover)="isHoveredBell = true"
      (mouseout)="isHoveredBell = false"
      [ngStyle]="{ 'color': isHoveredBell ? 'var(--tui-base-02)' : 'var(--tui-base-01)', 'background': isHoveredBell ? 'var(--tui-primary-hover)' : 'var(--tui-primary)'}"
      (click)="openNotice()"
    ></tui-marker-icon>
  </div>
</div>
