
<section>
  <aside class="sidebar">
    <block-header [blocks]="buttonHeader"></block-header>
    <block-content style="margin-top: 3rem" [blocks]="buttonContent"></block-content>
    <block-profile style="margin-top: auto; border-top: 1px solid #D7D7D7;"></block-profile>
  </aside>
</section>

<router-outlet></router-outlet>

<!--<div class="notice-button-layout" (tuiActiveZoneChange)="closeNotice($event)">-->
<!--  <app-notice [statusNotice]="statusNotice" [noticeList]="noticeList"></app-notice>-->
<!--  <div class="notice-button-container">-->
<!--    <tui-marker-icon-->
<!--      size="m"-->
<!--      src="tuiIconBellLarge"-->
<!--      (mouseover)="isHoveredBell = true"-->
<!--      (mouseout)="isHoveredBell = false"-->
<!--      [ngStyle]="{ 'color': isHoveredBell ? 'var(&#45;&#45;tui-base-02)' : 'var(&#45;&#45;tui-base-01)', 'background': isHoveredBell ? 'var(&#45;&#45;tui-primary-hover)' : 'var(&#45;&#45;tui-primary)'}"-->
<!--    ></tui-marker-icon>-->
<!--  </div>-->
<!--</div>-->
