<div (tuiActiveZoneChange)="closeSideBar($event)">
  <nav>
    <div class="navbar">
      <div class="navigation-section">
        <div class="cell-container">
          <button
            tuiButton
            type="button"
            appearance="navbar-navigation-button"
            (click)="openSideBar()"
            (mouseover)="showNavBar()"
            (mouseout)="closeNavBar()"
          >
          <tui-icon class="sidebar-button-icon" icon="tuiIconMenuLarge"></tui-icon>
          Навигация</button>
          <div *ngIf="barNav" class="hover-bar navigation-bar"></div>
        </div>
      </div>
      <div class="links-section">
        <div class="cell-container" (mouseover)="showProfileBar()" (mouseout)="closeProfileBar()">
          <tui-avatar
            class="avatar"
            [style.width.px]="64"
            [style.height.px]="64"
            src="tuiIconUserLarge"
            routerLink="/profile"
          ></tui-avatar>
          <div *ngIf="barProfile" class="hover-bar"></div>
        </div>
      </div>
    </div>
  </nav>

  <div [style.display]="'flex'">
    <aside
      [style.width.rem]="20"
      *tuiSidebar="statusSideBar; direction: 'left'; autoWidth: true"
      class="active-zone"
    >
      <section>
        <div class="close-icon">
          <button
            appearance="secondary"
            tuiMode="onLight"
            tuiIconButton
            size="s"
            class="close-button"
            (click)="closeSideBar()"
            >
            <tui-icon icon="tuiIconCloseLarge"></tui-icon>
          </button>
        </div>
      </section>
      <section>
        <div class="sidebar-menu">
          <button
            *ngFor="let button of buttonList"
            tuiButton
            size="xl"
            shape="rounded"
            appearance="floating"
            tuiMode="onLight"
            class="offset-button sidebar-button"
            [class.sidebar-button-hover]="button.onHover"
            (mouseenter)="button.onHover = true"
            (mouseleave)="button.onHover = false"
            (click)="closeSideBar()"
            [routerLink]="button.routing"
          >
            <tui-icon
              [icon]="button.icon"
              class="sidebar-button-icon"
            ></tui-icon>
          {{ button.title }}</button>
        </div>
      </section>
    </aside>
  </div>
</div>

<div class="notice-button-layout" (tuiActiveZoneChange)="closeNotice($event)">
  <div *ngIf="statusNotice" class="notice-page-container">
    <div class="notice-content-container">
      <div style="width: 100%; margin: 0 15px 15px; display: flex; flex-direction: column">
        <div style="display: flex; flex-direction: row; align-items: center">
          <p class="notice-content-label">Уведомления</p>
          <div style="margin-left: auto">
            <button
              appearance="secondary"
              tuiMode="onLight"
              tuiIconButton
              size="s"
              class="close-button"
              (click)="closeSideBar()"
            >
            <tui-icon icon="tuiIconCloseLarge"></tui-icon>
            </button>
          </div>
        </div>
        <div style="margin: 5px; border: 1px solid #D7D7D7; border-radius: 24px; height: 100%; display: flex; flex-direction: column">
          <div id="notice-list">
            <tui-scrollbar>
              <div style="margin: 5px 15px 10px; display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row; align-items: center">
                    <p class="notice-card-date-label">13 марта 2024</p>
                    <tui-icon
                      tuiMode="onLight"
                      icon="tuiIconTrash2Large"
                      class="trash-icon-hover"
                    ></tui-icon>
                </div>
                <div style="width: 100%; margin: 0.5rem">

                </div>
              </div>
            </tui-scrollbar>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="notice-button-container">
    <tui-marker-icon
      size="m"
      src="tuiIconBellLarge"
      (mouseover)="isHoveredBell = true"
      (mouseout)="isHoveredBell = false"
      [ngStyle]="{ 'color': isHoveredBell ? 'var(--tui-base-02)' : 'var(--tui-base-01)', 'background': isHoveredBell ? 'var(--tui-primary-hover)' : 'var(--tui-primary)'}"
      (click)="openNotice()"
    ></tui-marker-icon>
  </div>
</div>

<router-outlet></router-outlet>
