@import '@taiga-ui/core/styles/taiga-ui-local.less';


@icon-color: #333;
@icon-size: 1.25rem;
@bar-color: var(--tui-primary-hover);




[tuiWrapper][data-appearance='navbar-navigation-button'] {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.64);
  .font-style();
}

nav {
  top: 0;
  left: 0;
  height: 10.5vh;
  z-index: 1000;
  border-bottom: thin solid;
  border-bottom-color: #D7D7D7;
}

.font-style {
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.3px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
}

.sidebar-content {
  height: 100%;
  background-color: rgba(106, 147, 176, 0.2393);
  //background-color: rgba(236, 246, 255, 0.2393);
}

.sidebar-menu {
  .column();
  align-items: center;
  margin: 3rem 3rem 5rem 0;
}

.sidebar-button-icon {
  color: @icon-color;
  height: @icon-size;
  width: @icon-size;
  margin-right: 1rem;
  margin-left: -1rem;
}

.sidebar-button {
  width: 200px;
}

.close-icon {
  margin-top: 15px;
  margin-right: 15px;
  .row();
  justify-content: end;
}

.offset-button {
  margin-bottom: 2rem;
}

.navbar {
  width: 100%;
  margin-top: 1.5rem;
  .row();
  align-content: center;
}

.navigation-section {
  margin-right: auto;
  margin-left: 5rem;
}

.links-section {
  .row();
  margin-left: auto;
  margin-right: 5rem
}

.avatar {
  margin-right: 2rem;
  margin-left: 2rem;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.cell-container {
  .column();
  align-items: center;
}

.radius-container {
  border: 1px solid #D7D7D7;
  border-radius: 24px;
}

.hover-bar {
  align-items: center;
  width: 50%;
  height: 4px;
  background-color: @bar-color;
  .radius-container();
  margin-top: 0.75rem;
}

.count-notification-select {
  user-select: none;
}

.navigation-bar {
  width: 73.5%;
  margin-right: 0.65rem;
  margin-top: 1.1rem;
}

.notice-button-container {
  margin-left: auto;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.notice-button-layout {
  position: absolute;
  bottom: 1%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.notice-page-container {
  max-height: 60vh;
  margin-bottom: 15px;
  .row();
  justify-content: flex-end;
  align-items: flex-end
}

.notice-content-container {
  background-color: #ffffff;
  .radius-container();
  position: absolute;
  z-index: 999;
  margin-right: 15px;
  width: 275px;
  height: 425px;
  display: flex;
}

.notice-content-label {
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.3px;
  align-items: center;
}

.notice-scrollbar {
  width: 99%;
  height: 61.5vh;
}

.notice-card-date-label {
  font-family: Lato, serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #333333;
}

.trash-icon-hover {
  .transition(color);
  color: var(--tui-base-05);

  &:hover {
    color: var(--tui-base-06);
  }
  &:active {
    color: var(--tui-base-08)
  }
}
