@import '@taiga-ui/core/styles/taiga-ui-local.less';


@icon-color: #333;
@icon-size: 1.25rem;
@bar-color: var(--tui-primary-hover);

[tuiWrapper][data-appearance='navbar-navigation-button'] {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.64);
  .font-style();
}

nav {
  top: 0;
  left: 0;
  height: 10vh;
  z-index: 1000;
  border-bottom: thin solid;
  border-bottom-color: #D7D7D7;
  width: 100%;
  margin-top: 1.5rem;
  .row-center();
}

.font-style {
  font-family: "Crimson Pro", serif;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.3px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-center {
  .column();
  align-items: center;
}

.row-center {
  .row();
  align-items: center;
}

.close-icon {
  margin-top: 15px;
  margin-right: 15px;
  .row();
  justify-content: end;
}

#nav-navigation-stack {
  .column-center();
  margin-left: 5rem;
}

#nav-avatar-stack {
  .column-center();
  margin-left: auto;
  margin-right: 5rem;
}

#nav-navigation-button {
  width: 170px;
}

.profile-avatar {
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.avatar {
  margin-right: auto;
  margin-left: 2rem;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.radius-container {
  border: thin solid #D7D7D7;
  border-radius: 24px;
}

.hover-bar {
  width: 100%;
  height: 4px;
  background-color: @bar-color;
  margin-top: 0.75rem;
}

.sidebar-button-icon {
  color: @icon-color;
  height: @icon-size;
  width: @icon-size;
  margin-right: 2rem;
}

.count-notification-select {
  user-select: none;
}

.navigation-bar {
  width: 73.5%;
  margin-right: 0.65rem;
  margin-top: 1.1rem;
}

.notice-button-container {
  margin-left: auto;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.notice-button-layout {
  position: absolute;
  bottom: 1%;
  right: 1%;
  .column();
  justify-content: flex-end;
  align-items: flex-end;
}

@icon-color: #333;
@icon-size: 1.25rem;

.sidebar {
  display: flex;
}

.sidebar-content {
  height: 100%;
  background-color: rgba(106, 147, 176, 0.2393);
  //background-color: rgba(236, 246, 255, 0.2393);
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 3rem 5rem 0;
}

.sidebar-button-icon {
  color: @icon-color;
  height: @icon-size;
  width: @icon-size;
  margin-right: 1rem;
  margin-left: -1rem;
}

.offset-button {
  margin-bottom: 2rem;
}

.sidebar-button {
  width: 200px;

  :active {
    animation: button-tap 0.3s ease;
  }
}

.sidebar-button-hover {
  transform: scale(1.05);
  animation: button-grow-up 0.3s ease-in-out;
}


@keyframes button-grow-up {
  0% {
    transform: scale(1.05);
}

  50% {
    transform: scale(1.1);
}

  100% {
    transform: scale(1.05);
  }
}

@keyframes button-tap {
  0% {
    transform: scale(1.05);
}

  50% {
    transform: scale(1.1);
}

  100% {
    transform: scale(1.05);
  }
}
